@import "./menu.css";
@import "./hero.css";
@import "./header.css";
@import "./social.css";
@import "./button.css";
@import "./button-icon.css";
@import "./projects.css";
@import "./card.css";
@import "./wrapper.css";
@import "./certificated.css";
@import "./shared.css";


:root {
    --fontBase: Poppins, sans-serif;
    --fontSecondary: Oxygen, sans-serif;
    --headLine1: bold 95px/154px var(--fontBase);
    --headLine2: bold 59px/95px var(--fontBase);
    --headLine3: bold 48px/78px var(--fontBase);
    --headLine4: bold 34px/55px var(--fontBase);
    --headLine5: bold 24px/39px var(--fontBase);
    --coment: 34px/55px var(--fontSecondary);
    --coment2: 24px/39px var(--fontBase);
    --body1: 16px/26px var(--fontBase);
    --button: bold 14px/23px var(--fontBase);
    --primarycolor: #0f0A0A;
    --secondarycolor: #42a5f5;
    --tertiarycolor: #fffff3;
    --deletemargin: 0;



}

